:root {
  /* main */
  --color-marine-blue: hsl(213, 96%, 18%);
  --color-purplish-blue: hsl(243, 100%, 62%);
  --color-pastel-blue: hsl(228, 100%, 84%);
  --color-light-blue: hsl(206, 94%, 87%);
  --color-strawberry-red: hsl(354, 84%, 57%);
  /* Neutral */
  --color-cool-gray: hsl(231, 11%, 63%);
  --color-light-gray: hsl(229, 24%, 87%);
  --color-magnolia: hsl(217, 100%, 97%);
  --color-alabaster: hsl(231, 100%, 99%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-magnolia);
}

.app-wrapper {
  width: 900px;
  height: 600px;
  border-radius: 12px;
  background-color: var(--color-white);
  padding: 15px;
  -webkit-box-shadow: 0px 0px 15px -8px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 15px -8px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 15px -8px rgba(66, 68, 90, 1);
  display: flex;
  gap: 30px;
}

.sidebar-container {
  width: 32%;
  height: 100%;
  background-image: url(./images/bg-sidebar-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.sidebar-item {
  padding: 30px;
  padding-bottom: 1px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.sidebar-number {
  width: fit-content;
}

.sidebar-label {
  width: fit-content;
  letter-spacing: 1px;
}
.sidebar-label span {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-cool-gray);
  font-weight: 500;
}
.sidebar-label p {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-light-gray);
  font-weight: 700;
}

.sidebar-btn {
  width: 35px;
  height: 35px;

  border: solid 0.5px var(--color-white);
  border-radius: 25px;
  background-color: var(--color-purplish-blue);
  color: var(--color-white);
}

.personal-info {
  padding: 40px 50px;
}

.personal-info h1 {
  font-size: 32px;
  color: var(--color-marine-blue);
}
.personal-info p {
  color: var(--color-cool-gray);
  padding-bottom: 30px;
}

.personal-info-label {
  color: var(--color-marine-blue);
  padding-bottom: 30px;
}

.personal-info input {
  border-radius: 7px;
  width: 100%;
  height: 45px;
  border: 2px solid var(--color-light-gray);
  padding: 15px;
  margin: 10px 0;
  color: var(--color-marine-blue);
}

.next-btn {
  border-radius: 7px;
  width: 150px;
  height: 50px;
  position: relative;
  top: 100px;
  left: 140px;
  background-color: var(--color-marine-blue);
  cursor: pointer;
  color: var(--color-white);
  
}
.back-btn {
  border:none;
  width: 150px;
  height: 50px;
  position: relative;
  top: 100px;
  left: 0px;
  color: var(--color-marine-blue);
  font-weight: 500;
  background-color: var(--color-white);
  cursor: pointer;
}
.off {
  display: none;
}
.on{
  
}

.plan-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.plan {
  width: 140px;
  height: 150px;
  border: 1px solid var(--color-light-gray);
  border-radius: 7px;
  padding: 20px 15px;
  display: grid;
  grid-template-columns: 1fr;
  cursor: pointer;
}

.plan span {
  margin-top: 40px;
  color: var(--color-marine-blue);
  font-weight: 500;
}

.plan p {
  color: var(--color-light-gray);
  font-weight: 500;
  font-size: 14px;
}
.plan:hover {
  border-color: var(--color-purplish-blue);
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  background-color: var(--color-magnolia);
  padding: 7px;
  border-radius: 7px;
}

.switch-container span {
  font-weight: 700;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* ##################################### */
/* slider start here  */
/* ##################################### */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-marine-blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 7px;
  bottom: 6px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--color-marine-blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* ##################################### */
/* checkbox start here  */
/* ##################################### */

/* The container */
.container {
  display: block;
  position: relative;
  padding: 0px;
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: solid 1px blue;
  border-radius: 7px;
  width: 450px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox {
  position: absolute;
  top: 34%;
  left: 8%;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 7px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkbox {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkbox {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.description {
  padding: 15px 100px 15px 100px;
}
.description p {
  margin: 0;
  padding: 0;
}

.cost {
  position: absolute;
  top: 39%;
  left: 80%;
  color: var(--color-purplish-blue);
}

/* ##################################### */
/* radio start here  */
/* ##################################### */
/* The plan */
.plan {
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  border: 1px solid ;
  height: 150px;
  width:150px
}

/* Hide the browser's default radio button */
.plan input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #eee;
  z-index: -1;

}

/* On mouse-over, add a grey background color */
.plan:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.plan input:checked ~ .checkmark {
  background-color: #2196F3;
}


/* Show the indicator (dot/circle) when checked */
.plan input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.plan .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.plan-container{display: flex;}




/* ##################################### */
/* radio end here  */
/* ##################################### */

.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.summary span {
  color: var(--color-cool-gray);
  font-size: 14px;
}
.table-wrapper {
  background-color: var(--color-magnolia);
  border-radius: 7px;
  padding: 15px;
  width: 460px;
  height: 210px;
}
.total {
  padding: 15px;
}

.step-five {
  width: 460px;
  text-align: center;
  padding: 30px;
  position: relative;
  top: 24%;
  left: 5%;
}

.step-five h3 {
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
}
